.main {
  background: url(../public/assets/waves.png) no-repeat #000;
  background-size: cover;
  background-position: 0% 95%;
  min-height: calc(100vh - 83px);
}

.main__title {
  color: #fff;
  max-width: 1180px;
  margin:  40px auto 0;
  padding: 0 15px;
}

.main__inner {
  max-width: 1260px;
  margin: auto;
  padding: 30px 15px;
}

@media (min-width: 768px) {
  .main__inner {
    display: flex;
    justify-content: center;
  }

  .main__col {
    padding: 0 16px;
    width: 48%;
  }
}